
{% macro render_signup_form(next, signup_inputs, signup_errors, recaptcha) %}

  <form id="signup" method="POST" action="{{ url_for('usersBP.signup') }}">

    <div>

      <label>Username:</label>
      <input type="text" name="username" placeholder="3 character minimum, max: 20 " {%- if signup_inputs.get('username') %} value="{{ signup_inputs.get('username') }}"{% endif %}><br>
      {% if signup_errors.get('username') %}<span class="error">Error: {{ signup_errors.get('username')|safe }}</span><br>{% endif %}

    </div>

    <div>

      <label>Password:</label>
      <input type="password" name="password" placeholder="6 character minimum"><br>
      {% if signup_errors.get('password') %}<span class="error">Error: {{ signup_errors.get('password') }}</span><br>{% endif %}

      <label>Repeat Password:</label>
      <input type="password" name="password_repeat" placeholder="Verify you typed it correctly."><br>
      {% if signup_errors.get('password_repeat') %}<span class="error">Error: {{ signup_errors.get('password_repeat') }}</span><br>{% endif %}

    </div>

    {{ recaptcha }}

    {% if signup_errors.get('captcha') %}<span class="error">Error: {{ signup_errors.get('captcha') }}</span><br>{% endif %}

    <input type="text" name="email_repeat" value="" style="display: none;">
    <input type="hidden" name="next" value="{{ next }}">
    <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">

    <div>

      <input type="submit" value="Sign Me Up!">

    </div>

    <div>

      or <a href="{{ url_for('usersBP.login') }}">Login to an existing account.</a>

    </div>

  </form>

{% endmacro %}



{% macro render_login_form(post_next, next, login_inputs, login_errors) %}

  <form id="login" method="POST" action="{{ url_for('usersBP.login') }}">

    <div>

      <label>Username:</label>
      <input type="text" name="username"><br>
      {%- if login_errors.get('username') %}<span class="error">Error: {{ login_errors.get('username') }}</span>{% endif %}

    </div>

    <div>

      <label>Password:</label>
      <input type="password" name="password"><br>
      {%- if login_errors.get('password') %}<span class="error">Error: {{ login_errors.get('password') }}</span>{% endif %}

    </div>

    <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">

    <div>

      <input type="submit" value="Log In">

    </div>

    <div>

      or <a href="{{ url_for('usersBP.signup') }}">Sign Up for a new account.</a>

    </div>

  </form>

{% endmacro %}