
// global.scss


// global link styling
a { 
  text-decoration:none;
}

.width-container {
  width: 980px;
  margin: 0 auto;
}

// header

.header {
  background-color: #fafafa;
  border-bottom: 1px solid #e5e5e5;
}

.header__logo {
  padding-top: 16px;
  padding-bottom: 16px;
  color: #fff;

  a {
    color: rgba(0,0,0,0.85);
  }
}

