{% macro render_new_note_form(csrf_token) %}

<form id="new_note" method="POST" action="{{ url_for('notesBP.new_note') }}">

    <textarea name="message" class="" placeholder="Type your note here ..."></textarea>

    <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
    <input type="submit" value="Save">

</form>

{% endmacro %}