
<div class="header">

  <div class="header__logo">

    <a href="{{ url_for('pagesBP.homepage') }}">Keepshelf</a>{%- if session.get('user_id') %} | <a href="{{ url_for('notesBP.new_note') }}">New Note</a>{%- endif -%}

  </div>

</div>


{# render notification messages #}
{%- from 'macros/_flash.html' import render_flash_message -%}
{{ render_flash_message() }}

<div class="sub-header">

  {%- if session.get('user_id') -%}
              
    <a href="{{ url_for('usersBP.profile', user_username=session.get('user_username')) }}">Profile</a>

    <form method="POST" action="{{ url_for('usersBP.logout') }}">

      <input type="hidden" name="next" value="{{ next or '' }}">
      <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">         

      <a class="navlink form-submit-button" href="{{ url_for('usersBP.logout') }}">Log Out</a>

    </form>

  {%- else -%}

    <a href="{{ url_for('usersBP.login') }}">Log In</a> <a href="{{ url_for('usersBP.signup') }}">Sign Up</a>

  {%- endif -%}

</div>